
#nameday-names {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
 }

.namelist > h3 {
    color: var(--secondary-font-color);
    text-transform: uppercase;
    font-size: 0.9rem;
}