
#nameday-names {
    display: flex;
    gap: 8rem;
    margin: 0.5rem 1rem;
    justify-content: flex-start
 }

.namelist > h3 {
    color: var(--secondary-font-color);
    text-transform: uppercase;
    font-size: 0.9rem;
}