:root{
    --secondary-color: #5F98F6;
    --dashboard-background: #F3F4F6;
    --main-font-color: #1F2937;
    --secondary-font-color: #717785;
    --icon-color: #3B82F6;
    --secondary-icon-color: #6A7281;

}