@import url("./../../styles/colors.css");

#weather-container > .content > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#weather-description {
    font-weight: 400;
    word-wrap: break-word;
    white-space: pre-wrap;
}


#col-3  > div > *, #col-1 p{
    font-size: 0.8rem;
}
#col-2 {
    font-weight: 800;
    font-size: 1.7rem;
}

#weather-container{
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.75rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);;
}

#col-3{
    background-color: var(--dashboard-background);
    padding: 1rem;
    border-radius: 0.5rem;
}

#col-3 > div{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

#col-3 > div > div{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
}

#weather-icon{
    max-width: 75px;
    max-height: 75px;
}

#col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#col-1 p{
    text-align: center;
}

.loading-message {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #666;
}

/*Hide by default the loading message inside the weather widget*/
#weather-container .weather-loading {
    display: none;
}

#weather-container.is-loading .weather-loading {
    display: block;
}

#weather-container.is-loading .content {
    display: none;
}

#weather-container .content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.weather-loading {
    font-style: italic;
    color: var(--secondary-font-color);
    text-align: center;
    font-size: 0.8rem;
}

.weather-icon {
    width: 1rem;
    height: 1rem;
}

#weather-container-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
}

#col-3 > div > div > p:first-of-type {
    color: var(--secondary-font-color);
}

#weather-description {
    text-transform: capitalize;
    color: var(--secondary-font-color);
}